.event-display
    table.design(style='margin:0;border:none', width='100%')
        tr.header-display(style='border-bottom:1px solid #ddd;')
            td(style='padding-right:0;background-color:#333;padding: 2px 0',colspan=3)
                h6.text-center(style='color:#fff') NatureBox Marketing Holiday Dinner
        //room
        tr.room-display(style='border-bottom:1px solid #ddd;background-color:#eee')
            td(width='24px', valign='top', style='padding-right:0;border:0px solid #ddd')
                img(src='assets/images/door.png', width='16', height='16')
            td(width='80px', valign='top') 
                span.type Room
            td(valign='top')
                // edit control
                img.right(src='assets/images/pencil.png', width='12', height='12')
                span.room Sophia Room
                br
                span.date Thursday November 5, 2015
                h6(style='margin:0')
                    span.time 7:00 - 10:00p
                    br
                    span.product Banquet
                    br
                    span.guest-count 24
        //Layout
        tr.layouts-display(style='border-bottom:1px solid #ddd; background-color:#eee')
            td(width='24px', valign='top', style='padding-right:0;border:0px solid #ddd')
                img(src='assets/images/layout.png', width='16', height='16')
            td(width='80px', valign='top') 
                span.type Layout
            td(valign='top')  
                // edit control
                img.right(src='assets/images/pencil.png', width='12', height='12')
                span.layout Royal Theater Layout

        //Services
        tr.services-display(style='border-bottom:1px solid #ddd; background-color:#eee')
            td(width='24px', valign='top', style='padding-right:0;border:0px solid #ddd')
                img(src='assets/images/service.png', width='16', height='16')
            td(width='80px', valign='top') 
                span.type Services
            td(valign='top')  
                // edit control
                img.right(src='assets/images/pencil.png', width='12', height='12')
                span.services 3 selected
                h6(style='margin:0')
                    span.service-item open premium bar, cork fee, cake fee

        //Menu
        tr.menus-display(style='border-bottom:1px solid #ddd; background-color:#eee')
            td(width='24px', valign='top', style='padding-right:0;border:0px solid #ddd')
                img(src='assets/images/menu.png', width='16', height='16')
            td(width='80px', valign='top') 
                span.type Menu
            td(valign='top')  
                // edit control
                img.right(src='assets/images/pencil.png', width='12', height='12')
                span.date Three Course Seafood Menu
                h6(style='margin:0')
                    span.price-per-guest $100 per guest