.row(style='margin-top:1rem;margin-bottom:0')
    .columns.small-6
        p NOVEMBER  &nbsp; 2015
            span(style='margin-left:12px')
                img(src='/assets/images/pointer-left.png', width='12', height='12')
                &nbsp;&nbsp;
                img(src='/assets/images/pointer-right.png', width='12', height='12')
    .columns.small-6
        p.text-right today &nbsp; day  &nbsp; week  &nbsp; month