// user interface for displaying chat messages
table.message-list(width='100%', style='margin:0;border:none;')
    //thread id 1
    tr.new.selected(style='background-color:#fff')
        td(width='32', valign='top') 
            .profile-wrap-circle.left(style='overflow:hidden; border-radius:40px;width:32px;height:32px')
                img(src='/assets/images/faces/nina.jpg', width='32', height='32')
        td(width='') 
            h6(style='margin:0') 
                span.name 
                    b Annie Yang 
            p.message-string(style='margin:0;font-size:0.85em;color:#888') Can we slightly modify the layout to include just 1 more person?  I love this layout and room but we have 1 more than what your capacity allows.
        td(width='60', valign='top')
            p.time-stamp.text-right(style='margin:0') 
                small 1d ago &nbsp;&nbsp;
    
    //thread id 2
    tr.new.selected(style='background-color:#fff')
        td(width='32', valign='top') 
            .profile-wrap-circle.left(style='overflow:hidden; border-radius:40px;width:32px;height:32px')
                img(src='/assets/images/faces/craig.jpg', width='32', height='32')
        td(width='') 
            h6(style='margin:0') 
                span.name 
                    b You 
            p.message-string(style='margin:0;font-size:0.85em;color:#888') Can we slightly modify the layout to include just 1 more person?  I love this layout and room but we have 1 more than what your capacity allows.
        td(width='60', valign='top')
            p.time-stamp.text-right(style='margin:0') 
                small 30m ago &nbsp;&nbsp;
    
    //thread id 2
    tr.new.selected(style='background-color:#fff')
        td(width='32', valign='top') 
            .profile-wrap-circle.left(style='overflow:hidden; border-radius:40px;width:32px;height:32px')
                img(src='/assets/images/faces/nina.jpg', width='32', height='32')
        td(width='') 
            h6(style='margin:0') 
                span.name 
                    b Annie Yang 
            p.message-string(style='margin:0;font-size:0.85em;color:#888') Can we slightly modify the layout to include just 1 more person?  I love this layout and room but we have 1 more than what your capacity allows.
        td(width='60', valign='top')
            p.time-stamp.text-right(style='margin:0') 
                small 1m ago &nbsp;&nbsp;
    
  