table(width='100%', style='border:none;')
    tr
        td(width='40', rowspan='8', valign='top')
            img(src='/assets/images/plane.png', width='16', height='16')
        th(scope='row', width='80')
            h6.subheader 8:00 am
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 8:30 am
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 9:00 am
        td(style='border:0px solid #ddd')                    
    tr
        th(scope='row')
            h6.subheader 9:30 am
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 10:00 am
        td(style='border:0px solid #ddd')                    
    tr
        th(scope='row')
            h6.subheader 10:30 am
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 11:00 am
        td(style='border:0px solid #ddd')                    
    tr
        th(scope='row')
            h6.subheader 11:30 am
        td(style='border:0px solid #ddd')
    //pm
    tr
        td(width='40', rowspan='12', valign='top')
            img(src='/assets/images/plane.png', width='16', height='16')
        th(scope='row', width='80')
            h6.subheader 12:00 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 12:30 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 1:00 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 1:30 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 2:00 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 2:30 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 3:00 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 3:30 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 4:00 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 4:30 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 5:00 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 5:30 pm
        td(style='border:0px solid #ddd')
    //pm evening
    tr
        td(width='40', rowspan='12', valign='top')
            img(src='/assets/images/plane.png', width='16', height='16')
        th(scope='row', width='80')
            h6.subheader 6:00 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 6:30 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 7:00 pm
        td(style='border:0px solid #ddd')
            ul(style='list-style:none;margin-bottom:0')
                li.event-item(style='margin-bottom:8px;')
                    h6(style='margin:0')
                        span.time 7:00p - 10:00p 
                        span.room
                            b Velvet Room 
                        span.layout Royal Theater Layout 
                        span.product 
                            small Banquet
                        span.guest-count
                            small 112 Guests
                li.event-item
                    img.right(src='assets/images/arrow-right.png',width='16', height='16', style='margin-top:4px')
                    h6(style='margin:0;color:#f77')
                        span.time 7:00p - 10:00p 
                        span.room
                            b Velvet Room 
                        span.layout Royal Theater Layout 
                        span.product 
                            small Banquet
                        span.guest-count
                            small 112 Guests
    tr
        th(scope='row')
            h6.subheader 7:30 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 8:00 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 8:30 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 9:00 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 9:30 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 10:00 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 10:30 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 11:00 pm
        td(style='border:0px solid #ddd')
    tr
        th(scope='row')
            h6.subheader 11:30 pm
        td(style='border:0px solid #ddd')