.row
    .columns.large-12

        // variables on marketplace.jade
        if edit_event
            // form to create or rename event
            .row.collapse
                .columns.large-5
                    label name of event you are designing for
                        input.small(type='text',placeholder='name of event')
                .columns.large-7
                    .clean-button.inline(style='margin:36px 4px 0;') save
                    .clean-button.inline(style='margin:24px 0 0;') cancel
        else                        
            p(style='margin-bottom: 0') you are currently designing for
            h5(style='margin-top: 0') NatureBox Marketing Holiday Dinner
                img(src='assets/images/pencil.png',width='10', height='10', style='margin: 0 4px 0 12px')
                small rename event
        hr        
        .filter-wrapper
            .row.collapse
                .columns.large-2(style='padding:0 2px 0')
                    label Date
                        input.small(type='date',placeholder='eg ')
                .columns.large-2(style='padding:0 2px')
                    label Time
                        select
                            option(value='10:00am') 10:00a
                            option(value='11:00am') 11:00a
                            option(value='12:00pm') 12:00p
                            option(value='1:00pm') 1:00p
                            option(value='2:00pm') 2:00p
                            option(value='3:00pm') 3:00p
                            option(value='4:00pm') 4:00p
                            option(value='5:00pm') 5:00p
                            option(value='6:00pm') 6:00p
                            option(value='7:00pm') 7:00p
                            option(value='8:00pm') 8:00p
                            option(value='9:00pm') 9:00p
                            option(value='10:00pm') 10:00p
                .columns.large-2(style='padding:0 2px')
                    label Event Type
                        select
                            option(value='') Banquet
                            option(value='') Reception
                            option(value='') Buffet
                .columns.large-1(style='padding:0 2px')
                    label Guests
                        input.small(type='text')
                .columns.large-3(style='padding:0 2px')
                    label Budget
                        select
                            option(value='') less than $50 per guest
                            option(value='') $50 - $100 per guest
                            option(value='') $100 - $150 per guest
                            option(value='') $150 - $200 per guest
                            option(value='') more than $200 per guest
                .columns.large-4(style='padding:0 2px')
                