// first column for message.jade view

// filter by user role
table.role(width='100%', style='margin:0; border:none;')
    tr(style='background-color:transparent')
        td(width='90%') 
            h6(style='margin:0') Clients
        td(width='10%') 3
    tr(style='background-color:transparent')
        td(width='90%') 
            h6(style='margin:0') Prospects
        td(width='10%')
            h6(style='margin:0') 3
hr
// filter by topic
table.topic.right(width='80%', style='margin:0; border:none;')
    tr(style='background-color:transparent')
        td(width='90%') 
            h6(style='margin:0') #All
        td(width='10%') 3
    tr(style='background-color:transparent')
        td(width='90%') 
            h6(style='margin:0') #General
        td(width='10%')
            h6(style='margin:0') 3
    tr(style='background-color:transparent')
        td(width='90%') 
            h6(style='margin:0') #Marketplace
        td(width='10%') 3
    tr(style='background-color:transparent')
        td(width='90%') 
            h6(style='margin:0') #Room
        td(width='10%')
            h6(style='margin:0') 3
    tr(style='background-color:transparent')
        td(width='90%') 
            h6(style='margin:0') #Layout
        td(width='10%') 3
    tr(style='background-color:transparent')
        td(width='90%') 
            h6(style='margin:0') #Services
        td(width='10%')
            h6(style='margin:0') 3
    tr(style='background-color:transparent')
        td(width='90%') 
            h6(style='margin:0') #Menu
        td(width='10%') 3
    tr(style='background-color:transparent')
        td(width='90%') 
            h6(style='margin:0') #Payment
        td(width='10%')
            h6(style='margin:0') 3