#prospect-nav
    .row
        .columns.small-3.medium-11.medium-centered.large-12
            ul.inline-list(style='margin-bottom:0;margin-top:0.25em')
                li
                    a(href="#",style='color:#888;') 
                        h6 Active Prospects
                li
                    a(href="#",style='color:#888;')
                        h6 Inactive Prospects
                li
                    a(href="#",style='color:#888;')
                        h6 Abandoned Cart
                li
                    a(href="#",style='color:#888;')
                        h6 All