table.ranking(role='data', width='100%')
    thead
        tr
            th#heat(scope='column', width='2%') heat
            th#source(scope='column', width='8%') source
            th#name(scope='column', width='20%') name
            th#edate(scope='column', width='8%') event date
            th#days(scope='column', width='2%') days
            th#key(scope='column', width='10%') key events
            th#recent(scope='column', width='5%') recent
            th#log(scope='column', width='2%') activity
    tbody
        tr
            td.text-center(headers='heat')
                img(src='/assets/images/fire.png', width='16', height='16')
            td(headers='source')
                span phone
            td(headers='name')
                .profile-wrap-circle.left(style='overflow:hidden; border-radius:40px; margin-right:8px;')
                    img(src='/assets/images/faces/nina.jpg', width='32', height='32')
                span Annie Yang
                br
                small NatureBox Marketing Holiday Dinner
            td(headers='edate')
                span 11 / 05 / 2015
            td.text-center(header='days')
                span 4
            td(headers='key')
                span
                    img(src='/assets/images/openmail.png', width='16', height='16')
                &nbsp;
                span
                    img(src='/assets/images/note.png', width='16', height='16')
                &nbsp;
                span
                    img(src='/assets/images/piechart.png', width='16', height='16')
                &nbsp;
                span
                    img(src='/assets/images/bubble.png', width='16', height='16')
                &nbsp;
                span
                    img(src='/assets/images/basket.png', width='16', height='16')
            td(headers='recent')
                span 1d ago
            td.text-center(headers='log')
                a(href='#')
                    span
                        img(src='/assets/images/energy.png', width='16', height='16')
        tr
            td.text-center(headers='heat')
                img(src='/assets/images/fire.png', width='16', height='16')
            td(headers='source')
                span phone
            td(headers='name')
                .profile-wrap-circle.left(style='overflow:hidden; border-radius:40px; margin-right:8px;')
                    img(src='/assets/images/faces/sean.jpg', width='32', height='32')
                span Sean K
                br
                small Birthday celebration
            td(headers='edate')
                span 11 / 05 / 2015
            td.text-center(header='days')
                span 4
            td(headers='key')
                span
                    img(src='/assets/images/openmail.png', width='16', height='16')
                &nbsp;
                span
                    img(src='/assets/images/note.png', width='16', height='16')
                &nbsp;
                span
                    img(src='/assets/images/piechart.png', width='16', height='16')
                &nbsp;
                span
                    img(src='/assets/images/bubble.png', width='16', height='16')
                &nbsp;
                span
                    img(src='/assets/images/basket.png', width='16', height='16')
            td(headers='recent')
                span 1d ago
            td.text-center(headers='log')
                a(href='#')
                    span
                        img(src='/assets/images/energy.png', width='16', height='16')