table.ranking(role='data', width='100%')
    thead
        tr
            th#heat(scope='column', width='2%') heat
            th#source(scope='column', width='8%') source
            th#name(scope='column', width='20%') name

            th#log(scope='column', width='2%') activity
    tbody
        tr
            td.text-center(headers='heat')
                img(src='/assets/images/fire.png', width='16', height='16')
            td(headers='source')
                span phone
            td(headers='name')
                .profile-wrap-circle.left(style='overflow:hidden; border-radius:40px; margin-right:8px;')
                    img(src='/assets/images/faces/nina.jpg', width='32', height='32')
                span Annie Yang
            td.text-center(headers='log')
                a(href='#')
                    span
                        img(src='/assets/images/arrow-right.png', width='16', height='16')
        tr
            td.text-center(headers='heat')
                img(src='/assets/images/fire.png', width='16', height='16')
            td(headers='source')
                span phone
            td(headers='name')
                .profile-wrap-circle.left(style='overflow:hidden; border-radius:40px; margin-right:8px;')
                    img(src='/assets/images/faces/sean.jpg', width='32', height='32')
                span Sean K
            td.text-center(headers='log')
                a(href='#')
                    span
                        img(src='/assets/images/energy.png', width='16', height='16')