.row.collapse
    .columns.large-10.large-centered
        .dme-wrap
            ul.progress-steps.inline-list.right
                li Marketplace
                li(style='color:#f77') Reservation
                li Payment
            .room-item
                h6(style='margin:6px 0 1px')
                    img.logo(src='assets/images/table.png', width='30px', height='10px')
                    b 
                        span Sophia Room @ 
                        span Clift Hotel
            ul.subnav.inline-list.left
                li.active
                    a(ng-href='#/room',ng-click="$emit('subnav-click')") room
                li
                    a(ng-href='#/layouts',ng-click="$emit('subnav-click')") layouts
                li
                    a(ng-href='#/services',ng-click="$emit('subnav-click')") services
                li
                    a(ng-href='#/menus',ng-click="$emit('subnav-click')") menus