<div id="room" ng-controller='ProductController'>
    <h1 class="room-name">{{data.room}}</h1>
    <h6 class="venue-name">{{data.venue}}</h6>
    <div class="row">
        <div class="columns large-10 large-offest-4">
            <div class="row collapse signal">
                <div class="columns large-2">
                    <img src="assets/images/doorhandle.png" alt="">
                    <h6 class="text-center">Private<br>Room</h6>
                </div>
                <div class="columns large-2">
                    <img src="assets/images/card.png" alt="">
                    <h6 class="text-center">40-56<br>Guests</h6>
                </div>
                <div class="columns large-2">
                    <img src="assets/images/creditcard.png" alt="">
                    <h6 class="text-center">$2,5000<br>Minimum</h6>
                </div>
                <div class="columns large-2">
                    <img src="assets/images/time.png" alt="">
                    <h6 class="text-center">3<br>Hours</h6>
                </div>
                <div class="columns large-2">
                    <img src="assets/images/layout.png" alt="">
                    <h6 class="text-center">5<br>Layouts</h6>
                </div>
                <div class="columns large-2">
                    <img src="" alt="">
                    <h6 class="text-center"></h6>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- story -->
    <div class="row commentable-section" data-section-id="1">
        <div class="columns large-12">
            <h5>Our Story</h5> 
            <p class="story">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
        </div>
    </div>
    <!-- image -->
    <div class="row">
        <div class="columns large-12">
            <img src="assets/images/hires/room/blux2.jpg" class='th' alt="">
        </div>
    </div>
    <hr>
    <!-- space -->
    <div class="row room-details">
        <div class="columns large-12" id="commentable-area">
            <!-- general items -->
            <div class="row general-items">
                <div class="columns large-2">
                    <b>The Space</b>
                    <p class="commentable-section" data-section-id="2">test test comments</p>
                </div>
                <div class="columns large-10">
                    <div>Size: <b>2,323 square feet</b>
                    </div>
                    <div>Room Type: <b>Private</b>
                    </div>
                    <div>Minimum Spend: <b>$2,500</b> <small>(depends on date)</small> <a href="#">calendar</a>
                    </div>
                    <div>Availability: <b>3 hours</b>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Rules & Policies items -->
            <div class="row fee-items commentable-section" data-section-id="3">
                <div class="columns large-2">
                    <b>Rules & Policies</b>
                </div>
                <div class="columns large-4">
                    <div>Cancellation: <a href="#">strict</a>
                    </div>
                    <div>House Rules: <a href="#">strict</a>
                    </div>
                    <div>Security Deposit: <b>50%</b>
                    </div>
                </div>
                <div class="columns large-6">
                    <div>Payment: <b>7 business days prior to event</b>
                    </div>
                    <div>Final Menu: <b>7 days prior to event</b>
                    </div>
                    <div>Final Guest Count: <b>7 days prior to event</b>
                    </div>
                </div>
            </div>
            <hr>
            <!-- fee items -->
            <div class="row fee-items">
                <div class="columns large-2">
                    <b>Fees & Taxes</b>
                </div>
                <div class="columns large-5">
                    <div>
                        <span class='has-tip' data-tooltip='hover_delay: 0' aria-haspopup='true' title='Fee assessed for groups less than 50'> Rental Fee 
                            <img src="assets/images/question.png">:      
                        </span><b>$0</b> 
                    </div>
                    <div>Cleaning Fee: <b>$0</b>
                    </div>
                    <div>
                        <span class='has-tip' data-tooltip='hover_delay: 0' aria-haspopup='true' title='Fee assessed for groups less than 50'> Staff Labor Fee 
                            <img src="assets/images/question.png">:      
                        </span><b>$0</b>
                    </div>
                </div>
                <div class="columns large-5">
                    <div>Overage: <b></b>
                    </div>
                    <div>Gratuity: <b>22%</b> <small>(included in menu price)</small></div>
                    <div>Tax: <b>9.25%</b> <small>(included in menu price)</small></div>
                </div>
            </div>
            <hr>
            <!-- amenities items -->
            <div class="row layout-items">
                <div class="columns large-2">
                    <b>Amenities</b>
                </div>
                <div class="columns large-5">
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>garden terrace</b>
                    </div>
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>city view</b>
                    </div>
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>night sky</b>
                    </div> 
                    <div><a href="#">+more</a></div>   
                </div>
                <div class="columns large-5">
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>linens</b>
                    </div>
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>private entrance</b>
                    </div>
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>private bathrooms</b>
                    </div>   
                </div>
            </div>
            <hr>
            <!-- services items -->
            <div class="row layout-items">
                <div class="columns large-2">
                    <b>Add-on Services</b>
                </div>
                <div class="columns large-5">
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>premium open bar</b>
                    </div>
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>cash bar</b>
                    </div>
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>bartender</b>
                    </div>
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>chef station</b>
                    </div>
                    <div><a href="#">+more</a></div>   
                </div>
                <div class="columns large-5">
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>cake service</b>
                    </div>
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>cork service</b>
                    </div>
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>coat room</b>
                    </div> 
                    <div>
                        <img src="assets/images/image.png" alt="">
                        <b>valet</b>
                    </div>
                </div>
            </div>
            <hr>
            <!-- layout items -->
            <div class="row layout-items">
                <div class="columns large-2">
                    <b>Layouts</b>
                </div>
                <div class="columns large-5">
                    <div>Layouts: <b>12</b>
                    </div>
                    <div>Banquet: <b>5</b>
                    </div>
                    <div>Reception: <b>7</b>
                    </div>
                </div>
                <div class="columns large-5">
                    <div>: <b></b>
                    </div>
                    <div>: <b></b>
                    </div>
                    <div>: <b></b>
                    </div>
                </div>
            </div>
            <hr>
            <!-- menu items -->
            <div class="row menu-items">
                <div class="columns large-2">
                    <b>Menus</b>
                </div>
                <div class="columns large-5">
                    <div>Menus: <b>23</b>
                    </div>
                    <div>Banquet: <b>12</b>
                    </div>
                    <div>Reception: <b>11</b>
                    </div>
                </div>
                <div class="columns large-5">
                    <div>: <b></b>
                    </div>
                    <div>: <b></b>
                    </div>
                    <div>: <b></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- room details end -->    
</div>


    

