table.pdp-summary(width='100%')
    tr.header-display
        td(colspan=3)
            h6.text-center NatureBox Marketing Holiday Dinner
    
    //room
    tr.room-item.select-line
        td(valign='top')
            img(src='assets/images/door.png')
        td(valign='top') 
            span.type Room
        td(valign='top')
            // edit control
            img.right(src='assets/images/pencil.png')
            span.room Sophia Room
            br
            span.date Thursday November 5, 2015
            h6
                span.time 7:00 - 10:00p
                br
                span.product Banquet
                br
                span.guest-count 24
    
    //Layout
    tr.layouts-item.select-line
        td(valign='top')
            img(src='assets/images/layout.png')
        td(valign='top') 
            span.type Layout
        td(valign='top')  
            // edit control
            img.right(src='assets/images/pencil.png')
            span.layout Royal Theater Layout

    //Services
    tr.services-item.select-line
        td(valign='top')
            img(src='assets/images/service.png')
        td(valign='top') 
            span.type Services
        td(valign='top')  
            // edit control
            img.right(src='assets/images/pencil.png')
            span.services 3 selected
            h6
                span.service-item open premium bar, cork fee, cake fee

    //Menu
    tr.menus-item.select-line
        td(valign='top')
            img(src='assets/images/menu.png')
        td(valign='top') 
            span.type Menu
        td(valign='top')  
            // edit control
            img.right(src='assets/images/pencil.png')
            span.date Three Course Seafood Menu
            h6
                span.price-per-guest $100 per guest