.form-block
    .line-item.room-form
        .row
            .large-4.columns
                label.right.inline(for='date') Date
            .large-8.columns
                input#date(type='date')
        .row
            .large-4.columns
                label.right.inline(for='time') Time
            .large-8.columns
                select#time
                    option(value='10:00am') 10:00a
                    option(value='11:00am') 11:00a
                    option(value='12:00pm') 12:00p
                    option(value='1:00pm') 1:00p
                    option(value='2:00pm') 2:00p
                    option(value='3:00pm') 3:00p
                    option(value='4:00pm') 4:00p
                    option(value='5:00pm') 5:00p
                    option(value='6:00pm') 6:00p
                    option(value='7:00pm') 7:00p
                    option(value='8:00pm') 8:00p
                    option(value='9:00pm') 9:00p
                    option(value='10:00pm') 10:00
        .row
            .large-4.columns
                label.right.inline(for='eventtype') Event
            .large-8.columns
                select#eventtype
                    option(value='') Banquet
                    option(value='') Reception
                    option(value='') Buffet
        .row
            .large-4.columns
                label.right.inline(for='guests') Guests
            .large-4.columns
                    input#guests.small(type='text')
            .large-4.columns
        .row
            .columns.large-11.medium-centered
                .button.clean-button-inverse.expand Start Desinging
    // layout
    .hide-item.line-item.layouts-form
        .row
            .large-11.columns.large-centered
                select#layout
                    option(value='1') Royal Theater Layout
                    option(value='2') Layout 2
                    option(value='3') Layout 3
        .row
            .columns.large-11.medium-centered
                .button.clean-button-inverse.expand Continue

    // Services
    .hide-item.line-item.services-form
        .row
            .large-11.columns.large-centered
                h5.text-center 0 services selected
        .row
            .columns.large-11.medium-centered
                .button.clean-button-inverse.expand Continue

    // menu
    .hide-item.line-item.menus-form
        .row
            .large-11.columns.large-centered
                select#layout
                    option(value='1') menu 1
                    option(value='2') menu 2
                    option(value='3') Menu 3
        .row
            .columns.large-11.medium-centered
                button.button.clean-button-inverse.expand(type='submit') Reserve Now
                
.secondary-cta-wrap
    .row
        .columns.large-11.medium-centered
            .button.clean-button-regular-secondary.expand 
                i.fi-social-twitter.fi-icon 
                span save to favs
    p.text-center.share-wrap
        a(href="#", target="_blank")
            i.fi-social-facebook.fi-icon
        a(href="#", target="_blank")
            i.fi-social-instagram.fi-icon
        a(href="#", target="_blank")
            i.fi-social-pinterest.fi-icon
        a(href="#", target="_blank")
            i.fi-social-twitter.fi-icon