.hero(style='width:100%; background-color:#555;overflow:hidden; margin:0')
    .wrap-hero(style='position:relative;width:100%')
        // left right arrows
        img(src='assets/images/pointer-right-fff.png', style='position:absolute;top:50%;margin-top:-16px;right:24px;')
        img(src='assets/images/pointer-left-fff.png', style='position:absolute;top:50%;margin-top:-16px;left:24px;')
        // hero + lightbox images
        ul.clearing-thumbs.clearing-feature(data-clearing)(style='width:100%; background-color:#fff;')
            li.clearing-featured-img(style='margin:0')
                a(href='assets/images/hires/room/blux5.png')
                    img(src='assets/images/hires/room/blux5.png', data-caption='caption 1 here')
            li
                a(href='assets/images/hires/room/blux6.png')
                    img(src='assets/images/hires/room/blux6.png', data-caption='caption 2 here')
            li
                a(href='assets/images/hires/room/blux7.png')
                    img(src='assets/images/hires/room/blux7.png', data-caption='caption 3 here')
            li
                a(href='assets/images/hires/room/blux1.jpg')
                    img(src='assets/images/hires/room/blux1.jpg', data-caption='caption 4 here')
            li
                a(href='assets/images/hires/room/blux2.jpg')
                    img(src='assets/images/hires/room/blux2.jpg', data-caption='caption 5 here')
            li
                a(href='assets/images/hires/room/blux3.jpg')
                    img(src='assets/images/hires/room/blux3.jpg', data-caption='caption 6 here')
            li
                a(href='assets/images/hires/room/blux4.jpg')
                    img(src='assets/images/hires/room/blux4.jpg', data-caption='caption 7 here')