<div id="layouts" ng-controller='ProductController'>
    <div class="row collapse">
        <div class="columns large-11">
            <div class="white-bg text-center">
                <div class="pad">
                    <!-- nav & header -->                
                    <h6 class="">
                        select a menu for your experience
                    </h6>
                    <div class="row navigate">
                        <div class="columns large-4 large-centered">
                            <div class="row.collapse">
                                <div class="columns large-4">
                                    <div class="button round tiny expand nomargin">Prev</div>
                                </div>
                                <div class="columns large-4 text-center">
                                    <p class='nomargin'>1 of 4</p>
                                </div>
                                <div class="columns large-4">
                                    <div class="button round tiny expand nomargin">Next</div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- image or carousel -->
                <div class="photo-wrap">
                    <img src="assets/images/hires/room/blux2.jpg" alt="">
                    <div class="right-pointer"></div>
                    <div class="left-pointer"></div>
                </div>
                
                <!-- highlight -->
                <div class="pad highlight text-center">
                    <h5 class='nomargin'>Royal Theater Layout</h5>
                    <h6 class='subheader'>Banquet</h6>
                    <img src="assets/images/chair.png" alt="">
                    <h5>40 seated</h5>
                </div>
            </div>
        </div>
        <div class="columns large-1"></div>
    </div>
    <div class="row collapse">
        <div class="columns large-11">
            <!-- details -->
            <div class="row fee-items room-details">
                <div class="columns large-2">
                    <b>Details</b>
                </div>
                <div class="columns large-5">
                    <div> Table: <b>5 round tables</b> 
                    </div>
                    <div>Linens: <b>white table cloth</b>
                    </div>
                    <div>Settings: <b>eggshell china, silverware</b>
                    </div>
                </div>
                <div class="columns large-5">
                    <div>Overage: <b></b>
                    </div>
                    <div>Gratuity: <b>22%</b>  <small>(included in menu price)</small>
                    </div>
                    <div>Tax: <b>9.25%</b>  <small>(included in menu price)</small>
                    </div>
                </div>
            </div>           
        </div>
        <div class="columns large-1"></div>
    </div>
    
</div>


