<div id="services" ng-controller="ProductController">
    <!-- services list-->
    <div class="row collapse">
        <div class="columns large-11">

            <!-- service item - premium open bar -->
            <div class="white-bg">
                <div class="pad">
                    <div class="row">
                        <div class="columns large-6">
                            <img src="assets/images/image.png" alt="">
                            <h6>Premium Open Bar</h6>
                            <p>Lorem ipsum dolor sit amet, feugait inciderint ea eam, in his dicant essent interpretaris. Legere salutandi maiestatis sed cu.</p>
                        </div>
                        <div class="columns large-6 text-center">
                            <h5>$45</h5>
                            <h6>per guest</h6>
                            <div class="switch small round">
                                <input id="pobSwitch" type="checkbox">
                                <label for="pobSwitch"></label>
                            </div>
                            <h6>active</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of item-->

            <!-- service item - cash bar -->
            <div class="white-bg">
                <div class="pad">
                    <div class="row">
                        <div class="columns large-6">
                            <img src="assets/images/image.png" alt="">
                            <h6>Cash Bar</h6>
                            <p>Lorem ipsum dolor sit amet, feugait inciderint ea eam, in his dicant essent interpretaris. Legere salutandi maiestatis sed cu.</p>
                        </div>
                        <div class="columns large-6 text-center">
                            <h5>$180</h5>
                            <h6>per event</h6>
                            <div class="switch small round">
                                <input id="cbSwitch" type="checkbox">
                                <label for="cbSwitch"></label>
                            </div>
                            <h6>active</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of item-->
            
            <!-- service item - Chef Station -->
            <div class="white-bg">
                <div class="pad">
                    <div class="row">
                        <div class="columns large-6">
                            <img src="assets/images/image.png" alt="">
                            <h6>Chef Station</h6>
                            <p>Lorem ipsum dolor sit amet, feugait inciderint ea eam, in his dicant essent interpretaris. Legere salutandi maiestatis sed cu.</p>
                        </div>
                        <div class="columns large-6 text-center">
                            <h5>$120</h5>
                            <h6>per station</h6>
                            <div class="switch small round">
                                <input id="csSwitch" type="checkbox">
                                <label for="csSwitch"></label>
                            </div>
                            <h6>active</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of item-->
            
            <!-- service item - Cork Service -->
            <div class="white-bg">
                <div class="pad">
                    <div class="row">
                        <div class="columns large-6">
                            <img src="assets/images/image.png" alt="">
                            <h6>Cork Service</h6>
                            <p>Lorem ipsum dolor sit amet, feugait inciderint ea eam, in his dicant essent interpretaris. Legere salutandi maiestatis sed cu.</p>
                        </div>
                        <div class="columns large-6 text-center">
                            <h5>$10</h5>
                            <h6>per bottle</h6>
                            <div class="switch small round">
                                <input id="corkSwitch" type="checkbox">
                                <label for="corkSwitch"></label>
                            </div>
                            <h6>active</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of item-->
            
            <!-- service item - Cake Service -->
            <div class="white-bg">
                <div class="pad">
                    <div class="row">
                        <div class="columns large-6">
                            <img src="assets/images/image.png" alt="">
                            <h6>Cake Serivce</h6>
                            <p>Lorem ipsum dolor sit amet, feugait inciderint ea eam, in his dicant essent interpretaris. Legere salutandi maiestatis sed cu.</p>
                        </div>
                        <div class="columns large-6 text-center">
                            <h5>$5</h5>
                            <h6>per guest</h6>
                            <div class="switch small round">
                                <input id="cakeSwitch" type="checkbox">
                                <label for="cakeSwitch"></label>
                            </div>
                            <h6>active</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of item-->
            
            <!-- service item - Valet -->
            <div class="white-bg">
                <div class="pad">
                    <div class="row">
                        <div class="columns large-6">
                            <img src="assets/images/image.png" alt="">
                            <h6>Valet</h6>
                            <p>Lorem ipsum dolor sit amet, feugait inciderint ea eam, in his dicant essent interpretaris. Legere salutandi maiestatis sed cu.</p>
                        </div>
                        <div class="columns large-6 text-center">
                            <h5>$60</h5>
                            <h6>per hour</h6>
                            <div class="switch small round">
                                <input id="valetSwitch" type="checkbox">
                                <label for="valetSwitch"></label>
                            </div>
                            <h6>active</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of item-->
            
            <!-- service item - Coat Room -->
            <div class="white-bg">
                <div class="pad">
                    <div class="row">
                        <div class="columns large-6">
                            <img src="assets/images/image.png" alt="">
                            <h6>Coat Valet</h6>
                            <p>Lorem ipsum dolor sit amet, feugait inciderint ea eam, in his dicant essent interpretaris. Legere salutandi maiestatis sed cu.</p>
                        </div>
                        <div class="columns large-6 text-center">
                            <h5>$990</h5>
                            <h6>per event</h6>
                            <div class="switch small round">
                                <input id="coatSwitch" type="checkbox">
                                <label for="coatSwitch"></label>
                            </div>
                            <h6>active</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of item-->
        </div>
        <div class="columns large-1"></div>
    </div>
    

</div>


