#main-calendar
    .row
        .columns.small-3.medium-11.medium-centered.large-12
            
            // include navigation partial
            //include calendar-nav
            
            .row.collapse
                .columns.small-12(style='background-color:#fff;')
                    table(role='data', width='100%')
                        thead
                            tr
                                th sunday
                                th monday
                                th tuesday
                                th wednesday
                                th thursday
                                th friday
                                th saturday
                        tbody
                            tr
                                td(valign='top')
                                    table(role='data', width='100%')
                                        tr
                                            td 1
                                            td.text-right NOV
                                        tr
                                            td(colspan='2') 7:00p Sophia Room
                                        tr
                                            td(colspan='2') 7:00p Velvet Room
                                        tr
                                            td.text-center(colspan='2') +2 more
                                            
                                td(valign='top') 2
                                td(valign='top') 3
                                td(valign='top') 4
                                td(valign='top') 5
                                td(valign='top') 6
                                td(valign='top') 7
                            tr
                                td(valign='top') 8
                                td(valign='top') 9
                                td(valign='top') 10
                                td(valign='top') 11
                                td(valign='top') 12
                                td(valign='top') 13
                                td(valign='top') 14
                            tr
                                td(valign='top') 15
                                td(valign='top') 16
                                td(valign='top') 17
                                td(valign='top') 18
                                td(valign='top') 19
                                td(valign='top') 20
                                td(valign='top') 21
                            tr
                                td(valign='top') 22
                                td(valign='top') 23
                                td(valign='top') 24
                                td(valign='top') 25
                                td(valign='top') 26
                                td(valign='top') 27
                                td(valign='top') 28
                            tr
                                td(valign='top') 29
                                td(valign='top') 30
                                td(valign='top')
                                    table(role='data', width='100%')
                                        tr
                                            td 1
                                            td.text-right DEC
                                td(valign='top') 2
                                td(valign='top') 3
                                td(valign='top') 4
                                td(valign='top') 5
                        