.row
    .columns.large-11.large-centered
        table(width='100%', style='background-color:transparent; border:none; margin:0')
            tr
                td
                    h5 NatureBox Marketing Holiday Dinner
                td(width='100px')
                    h5.guest-count.text-right 24 
                        small guests
        .wrapper(style='background-color:#fff; min-height:500px')
            .clean-button.right(style='margin:12px 12px 0 0') event details
            .row
                .columns.large-10.large-centered
                    table.host(width='100%', style='margin:0;border:none;')
                        //event 
                        tr
                            td(width='32', valign='top') 
                                .profile-wrap-circle.left(style='overflow:hidden; border-radius:40px;width:32px;height:32px')
                                    img(src='/assets/images/faces/nina.jpg', width='32', height='32')
                            td
                                h6
                                    span.name 
                                        b Annie Yang 
                                h6.subheader(style='margin:0') 
                                    span.email 
                                        img(src='/assets/images/mail.png', width='10px', height='10px') 
                                    |&nbsp;&nbsp; annie@naturebox.com
                                    br
                                    span.phone 
                                        img(src='/assets/images/phone.png', width='10px', height='10px') 
                                    |&nbsp;&nbsp; (555) 555 - 5555
                                    br
                                    span.payment-status 
                                        img(src='/assets/images/creditcard.png', width='10px', height='10px') 
                                    |&nbsp;&nbsp; Balance of $1,200 due on October 29

                    hr(style='margin:0')
                    table.event-summary(width='100%', style='margin:0;border:none;')
                        tr
                            th(scope='row', width='80px')
                                h6 date
                            td
                                h6.date Thursday, November 5, 2015
                        tr
                            th(scope='row', width='80px')
                                h6 time
                            td
                                h6.time 7:00p - 10:00p
                        tr
                            th(scope='row', width='80px')
                                h6 guests
                            td
                                h6.guest-count 24 
                        tr
                            th(scope='row', width='80px')
                                h6 room
                            td
                                h6.room Sophia Room 
                        tr
                            th(scope='row', width='80px')
                                h6 product
                            td
                                h6.product Banquet
                        tr
                            th(scope='row', width='80px')
                                h6 layout
                            td
                                h6.layout Royal Theater Layout 
                        tr
                            th(scope='row', width='80px')
                                h6 menu
                            td
                                h6.menu Three Course Menu 
                        tr
                            th(scope='row', width='80px')
                                h6 services
                            td
                                h6.services 
                                    small Premium open bar, Cork Fee, Cake Fee
                    hr(style='margin:0')
                    table.payment-summary(width='100%', style='margin:0;border:none;')
                        tr
                            th(scope='row', width='80px') Total
                            td $2,400
                    hr(style='margin:0')
                    p
                        small *Cancellation date has passed.
                        br
                        small 50% deposit paid. 50% due November 1, 2015. Payment will be automatically charged.
                        
                 
                            