.row.collapse
    .columns.large-6
        .wrapper(style='height:500px;overflow:scroll;background-color:#e2e2e2;')
            
            include event-summary
            
    .columns.large-6
        .wrapper(style='height:500px;overflow:scroll; background-color:#fff;padding:12px')
            
            include event-details