// footer
// used in marketplace.jade
h6.text-center
    img(src='assets/images/bubble.png', width='16', height='16')
    &nbsp; 
    b Give Us Feedback
h6.text-center(style='margin:0')
    a(href='#') Privacy
h6.text-center(style='margin:0')
    a(href="#", target="_blank")
        i.fi-social-facebook.fi-icon(style='font-size:24px;margin-right:8px')
    a(href="#", target="_blank")
        i.fi-social-instagram.fi-icon(style='font-size:24px;margin-right:8px')
    a(href="#", target="_blank")
        i.fi-social-pinterest.fi-icon(style='font-size:24px;margin-right:8px')
    a(href="#", target="_blank")
        i.fi-social-twitter.fi-icon(style='font-size:24px;margin-right:8px')
h6.text-center(style='margin:0 0 12px') &copy;2015 Private Table, LLC. All rights reserved. Made in lovely San Franscisco.