// main view for messages 
.wrap
    .row.collapse
        .columns.large-2
            .wrapper.pad(style='height:600px;background-color:#fff;border-right:solid 1px #ddd;padding:12px')
                //filter
                include message-filter


        .columns.large-5
            .wrapper.pad(style='height:600px;background-color:#fff;border-right:solid 1px #ddd;padding:0px;overflow:scroll')
                //message list
                include message-message-list
            
        .columns.large-5
            .wrapper.pad(style='height:600px;background-color:#fff;;padding:0px')
                //message
                include message-message
            
                    
