// thrid column for message.jade view
.wrapper(style='padding:18px 24px 0')
    
    h6(style='margin:0') 
        span.topic #LAYOUT 
        span.layout-name Royal Theater Layout 
        |for 
        span.room-name Sophia Room
        span.right
            small view page 
            img(src='/assets/images/arrow-right-curve.png', width='16', height='16')
    
hr(style='margin: 8px 0')

// display up to 3 most recent messages
// click to reveal more
p.text-center
    small view 4 older messages

.row.collapse
    .columns.large-10.large-centered(style='background-color:transparent;')
        
        // partial
        include chat
        
        hr(style='margin: 8px 0')
        
        // partial
        include chat-form