.row.collapse
    .columns.large-11.large-centered(style='border:0px solid #ddd')
        
        .clean-button.right(style='margin:0px 0px 0 0') print all docs
        .clean-button.right(style='margin:0px 4px 0 0') 
            img(src='assets/images/mail.png', width='12', height='12')
            |&nbsp; email
        .clean-button.right(style='margin:0px 4px 0 0')
            img(src='assets/images/download.png', width='12', height='12')
            |&nbsp; download
        .clean-button.right(style='margin:0px 4px 0 0')
            img(src='assets/images/magnifier.png', width='12', height='12')
            |&nbsp; preview
        h3.left(style='margin-bottom:0') Floor Plan
        .clearfix
        
        h6.left(style='margin-top:0') Add notes to your Floor Plan
        br
        
        // Page 1
        h6.subheader.left(style='margin-top:0') Page 1n
            small (default beo template)
        div(style='margin-top:24px;')
            .row
                // required - page 1
                // footer
                .columns.large-12
                    label
                        span.has-tip(data-tooltip='hover_delay: 0', aria-haspopup='true', title='test test') Layout &nbsp;
                            img(src='assets/images/question.png', width='12', height='12')
                        small test
                        textarea(placeholder='test')
                
                // menu
                .columns.large-12
                    label
                        span.has-tip(data-tooltip='hover_delay: 0', aria-haspopup='true', title='customize your footer message') Table Notes &nbsp;
                            img(src='assets/images/question.png', width='12', height='12')
                        small &nbsp;&nbsp;- customize your footer
                        textarea(placeholder='test')
                
                // beverage
                .columns.large-12
                    label
                        span.has-tip(data-tooltip='hover_delay: 0', aria-haspopup='true', title='customize your footer message') Linens Notes &nbsp;
                            img(src='assets/images/question.png', width='12', height='12')
                        small &nbsp;&nbsp;- customize your footer
                        textarea(placeholder='test')
                
                // special requirements
                .columns.large-12
                    label
                        span.has-tip(data-tooltip='hover_delay: 0', aria-haspopup='true', title='customize your footer message') Special Requests Notes &nbsp;
                            img(src='assets/images/question.png', width='12', height='12')
                        small &nbsp;&nbsp;- customize your footer
                        textarea(placeholder='test')
        
    