// main view for prospects

#prospects
    .row
        .columns.small-12.medium-11.medium-centered.large-12
        
            // filter and table
            #prospect-ranking
                .row.collapse
                    //filter
                    .columns.small-2
                        .filter-wrap(style='height:600px;background-color:#ddd;')
                            div(style='padding:12px')
                                
                                include prospects-filter

                    //table
                    .columns.small-4
                        .filter-wrap(style='height:600px;background-color:#fff;border-right:1px solid #ddd')
                            #ranking
                                include prospects-ranking-condensed
                            
                    .columns.small-6
                        .filter-wrap.pad(style='height:600px;background-color:#fff;padding:12px;')
                            include prospects-activity-log