.row.collapse
    .small-12.columns
        label
            small ACTIVITY
        select
          option(value='husker') Husker
          option(value='starbuck') Starbuck
          option(value='hotdog') Hot Dog
          option(value='apollo') Apollo
.row.collapse
    .small-6.columns
        label
            small START DATE
        select
          option(value='husker') Husker
          option(value='starbuck') Starbuck
          option(value='hotdog') Hot Dog
          option(value='apollo') Apollo
    .small-6.columns
        label
            small END DATE
        select
          option(value='husker') Husker
          option(value='starbuck') Starbuck
          option(value='hotdog') Hot Dog
          option(value='apollo') Apollo
.row.collapse
    .small-12.columns
        label
            small KEYWORDS
        input(type='text', placeholder='e.g. birthday')