doctype html
html(ng-app="productApp")
  head
    title= title
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/assets/stylesheets/app.css')
    script(src="/assets/js/modernizr.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="/assets/js/fastclick.js")
    script(src="/assets/js/foundation.min.js")
    script(src="/assets/js/require.min.js")
    script(src="/assets/js/main.js")

    
  body
      // main content goes here
      block content

              
      
      
      
      
      
      
      
      // instantiate foundation        
      script.
        $(document).foundation({
          orbit: {
              bullets: false,
              timer: false,
              slide_number: false
            }
        });
        