extends backbone-layout

block content
  div #{name}
  div#backbone-app


  script.
    var PrivateTable = {config: {currentUser: null}};
    PrivateTable.config.currentUser = !{JSON.stringify(user)}
  script(src="/assets/js/require.min.js" data-main="/assets/js/main.js")
