doctype html
html(ng-app="vendorApp")
    head
        include templates/vendor/analytics
        title= title
        meta(name='viewport', content='width=device-width, user-scalable=no')
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/assets/stylesheets/app.css')
        script(src="/assets/js/modernizr.js")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src="/assets/js/fastclick.js")
        script(src="/assets/js/foundation.min.js")
        script(src="/assets/js/underscore-min.js")
        script(src="/assets/js/backbone.min.js")
        script(src="/assets/js/application.js")


    
    body
        
        .off-canvas-wrap(data-offcanvas='')
            .inner-wrap
                //a.right-off-canvas-toggle(href='#') Menu
                //toggle is located in templates/header-pre.jade file
                
                // Off Canvas Menu
                aside.right-off-canvas-menu
                    // whatever you want goes here
                    ul
                        li
                            a(href='#') Item 1
                    |         ...
                // main content goes here
                block content
                
                // close the off-canvas menu
                a.exit-off-canvas
                
        // instantiate foundation        
        script.
            $(document).foundation();
            $(document).ready(function(){PrivateTable.init()})